* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: rgba(255, 30, 0, 0.3); */
  padding: 0;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  border-radius: 20px;
  box-shadow: 0px 0px 14px -8px rgba(0, 0, 0, 0.7);
}

section a{
  margin: 0 auto;
}

section form input {
  display: block;
  margin: 0 auto;
}
