{% extends "gas_q/layout.html" %}
{% load static %}

{% block title %}Gas Queue {% endblock %}

{% block body %}

<section class="container d-flex flex-column justify-items-center align-items-center w-75 mt-1">
  <h2 class="d-flex justify-content-center py-1">JaffalGroup</h2>
  <form class="d-flex flex-column justify-content-center w-100 py-2 px-2" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <!-- {{ form }} -->
    <div>
      <label for="id_user">الأسم الثلاثي</label>
      {{ form.user }}
      <label for="id_phone_number">رقم الهاتف</label>
      {{ form.phone_number }}
      <label for="id_place">مكان السكن</label>
      {{ form.place }}
      <label for="id_car_make">الشركة المصنعة للسيارة</label>
      {{ form.car_make }}
      <label for="id_car_num">رقم السيارة</label>
      {{ form.car_num }}
      <label for="id_day">اليوم</label>
      {{ form.day }}
      <label for="id_timeslot">الأوقات </label>
      {{ form.timeslot }}
    </div>

    <!-- <div>
        <input autofocus type="text" name="carmaker" placeholder="car maker">
    </div>
    <div>
        <input type="text" name="carnum" placeholder="car number">
    </div> -->
  
    <input type="submit" class="btn btn-primary my-3 py-1" value="اطلب وصل">
  </form>
  
</section>

{% endblock %}

{% block script %}
<script src="{% static 'gas_q/index.js' %}"></script>
{% endblock %}