{% extends "gas_q/layout.html" %}
{% load static %}

{% block title %}Gas Queue {% endblock %}

{% block body %}

<section class="container d-flex flex-column justify-items-center align-items-center w-75 mt-1">
  <h2 class="d-flex justify-content-center py-1">fill this form</h2>
  <form class="d-flex flex-column justify-content-center w-75 py-3" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <!-- <div>
        <input autofocus type="text" name="carmaker" placeholder="car maker">
    </div>
    <div>
        <input type="text" name="carnum" placeholder="car number">
    </div> -->
  
    <input type="submit" class="btn btn-primary my-3" value="اطلب وصل">
  </form>
  
</section>

{% endblock %}

{% block script %}
<script src="{% static 'gas_q/index.js' %}"></script>
{% endblock %}