{% extends "gas_q/layout.html" %}

{% block title %}login{% endblock %}

{% block body %}
<section id="login-register">
    <div id="boxx">

        <div class="login-container">
            <div class="title">
                <h2>Log In</h2>
            </div>
            
            {% if message %}
                    <div>{{ message }}</div>
            {% endif %}
    
            <form class="login-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <!-- <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div> -->
                <input class="btn btn-primary" type="submit" value="LOG IN">
            </form>
        </div>
    
        <div class="reg-sec">
            <h2 class="space-even">Hello, Friend!</h2>
            <p class="space-even">Don't have an account?</p>
            <a class="space-even" href="{% url 'register' %}"><button class="btn btn-primary">Register here</button></a>
        </div>

    </div>
</section>
{% endblock %}