{% extends "gas_q/layout.html" %}

{% block title %}register{% endblock %}

{% block body %}
<section class="container d-flex flex-column justify-items-center align-items-center w-75 mt-5">
  <h2 class="d-flex justify-content-center py-3">Register</h2>

  {% if message %}
  <div class="d-flex justify-content-center">{{ message }}</div>
  {% endif %}

  <form class="d-flex flex-column justify-content-center w-75 py-4" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <!-- <div class="form-group">
                    <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                </div> -->
    <div class="mb-3">
      <label for="InputUsername" class="form-label">Username:</label>
      <input type="text" class="form-control" id=InputUsername" name="username" placeholder="Username"
        aria-describedby="username">
    </div>
    <!-- <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                </div> -->
    <input class="btn btn-primary" type="submit" value="REGISTER">
  </form>
  </div>

  <div class="d-flex flex-column justify-content-center py-3">
    <p style="font-size: 20px;">Already have an account?</p>
    <a href="{% url 'login' %}"><button class="btn btn-primary">Log In</button></a>
  </div>
</section>
{% endblock %}